@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kara's (mock) <br />Inventory Management System</h1>
    <p>This application contains a backend SQL Server database that can be configured to run either off of a real SQL server instance, or off a localdb in the application itself.</p>
    <p>It features a rich relationship hierarchy, clearly defining products and their categories, helps you manage them across different locations.<p/>
    <p>It even helps handle incoming and outgoing orders based on your inventory per product at each location.</p>
    <p>There are no triggers defined in the backend database - it is all done in the application. The logic is the same. Do action, check condition, do another action if satisfied.</p>
    <p>I just decided here was easier & better instead.</p>
</div>
